<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.system.mapper.NotificationMapper">
    <resultMap id="NotificationResult" type="com.ruoyi.system.domain.Notification">
        <result property="content" column="content"/>
        <result property="notificationId" column="notification_id"/>
        <result property="notificationType" column="notification_type"/>
        <result property="fromUserId" column="from_user_id"/>
        <result property="fromUserName" column="from_user_name"/>
        <result property="articleId" column="article_id"/>
        <result property="commentId" column="comment_id"/>
        <result property="commentReplyContent" column="comment_reply_content"/>
        <result property="commentReplyId" column="comment_reply_id"/>
        <result property="commentContent" column="comment_content"/>
        <result property="createTime" column="create_time"/>
        <result property="articleTitle" column="article_title"/>
        <collection property="notificationUserList"
                    javaType="java.util.List" resultMap="NotificationUserResult"/>
    </resultMap>

    <resultMap id="NotificationUserResult" type="com.ruoyi.system.domain.NotificationUser">
        <result property="toUserId" column="to_user_id"/>
        <result property="status" column="status"/>
        <result property="id" column="id"/>
        <result property="toUserName" column="to_user_name"/>
        <result property="viewTime" column="view_time"/>
    </resultMap>

    <insert id="insertNotification" useGeneratedKeys="true" keyProperty="notificationId">
        insert into notification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="notificationType != null and notificationType != ''">notification_type,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="fromUserId != null">from_user_id,</if>
            <if test="articleId != null">article_id,</if>
            <if test="commentId != null">comment_id,</if>
            <if test="commentReplyId != null">comment_reply_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="notificationType != null and notificationType != ''">#{notificationType},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="fromUserId != null">#{fromUserId},</if>
            <if test="articleId != null">#{articleId},</if>
            <if test="commentId != null">#{commentId},</if>
            <if test="commentReplyId != null">#{commentReplyId},</if>
        </trim>
    </insert>

    <update id="updateNotification">
        update notification
        <trim prefix="SET" suffixOverrides=",">
            <if test="notificationType != null and notificationType != ''">notification_type = #{notificationType},</if>
            <if test="content != null and content != ''">content =#{content},</if>
            <if test="fromUserId != null">from_user_id =#{fromUserId},</if>
            <if test="articleId != null">article_id =#{articleId},</if>
            <if test="commentId != null">comment_id =#{commentId},</if>
            <if test="commentReplyId != null">comment_reply_id =#{commentReplyId},</if>
        </trim>
        where notification_id = #{notificationId}
    </update>

    <delete id="deleteNotificationById">
        delete
        from notification
        where notification_id = #{notificationId}
    </delete>

    <delete id="deleteNotificationByIds">
        delete from notification where notification_id in
        <foreach item="id" collection="notificationIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectNotificationByList" resultMap="NotificationResult">
        select n.content           as content,
               n.notification_id   as notification_id,
               n.notification_type as notification_type,
               n.from_user_id      as from_user_id,
               su1.nick_name       as from_user_name,
               n.article_id        as article_id,
               a.title        as article_title,
               n.comment_id        as comment_id,
               n.create_time       as create_time,
               nu.to_user_id       as to_user_id,
               su2.nick_name       as to_user_name,
               nu.status           as status,
               nu.id               as id,
               cr.content          as comment_reply_content,
               n.comment_reply_id  as comment_reply_id,
               c.content           as comment_content,
               a.title             as article_title,
               nu.view_time        as view_time
        FROM notification_user nu
                 LEFT JOIN notification n ON nu.notification_id = n.notification_id
                 LEFT JOIN articles a ON n.article_id = a.id
                 LEFT JOIN comment c ON n.comment_id = c.id
                 LEFT JOIN comment_reply cr ON n.comment_reply_id = cr.id
                 LEFT JOIN sys_user su1 ON n.from_user_id = su1.user_id
                 LEFT JOIN sys_user su2 ON nu.to_user_id = su2.user_id
        <trim prefix="where" prefixOverrides="and">
            <if test="notificationPage.toUserId != null and notificationPage.toUserId != ''">and nu.to_user_id = #{notificationPage.toUserId}</if>
            <if test="notificationPage.fromUserId != null and notificationPage.fromUserId != ''">and n.from_user_id = #{notificationPage.fromUserId}</if>
            <if test="notificationPage.notificationType != null and notificationPage.notificationType != ''">and n.notification_type = #{notificationPage.notificationType}</if>
        </trim>
    </select>

    <select id="selectNotificationById" resultMap="NotificationResult">
        select n.notification_id as notification_id,
        n.content as content,
        n.notification_id as notification_id,
        n.notification_type as notification_type,
        n.from_user_id as from_user_id,
        su1.nick_name as from_user_name,
        n.article_id as article_id,
        a.title as article_title,
        n.comment_id as comment_id,
        n.create_time as create_time,
        cr.content as comment_reply_content,
        n.comment_reply_id as comment_reply_id,
        c.content as comment_content,
        a.title as article_title,
        nu.to_user_id as to_user_id,
        nu.id as id,
        su2.nick_name as to_user_name,
        nu.status as status,
        nu.view_time as view_time
        FROM notification_user nu
        LEFT JOIN notification n ON n.notification_id = nu.notification_id
        LEFT JOIN articles a ON n.article_id = a.id
        LEFT JOIN comment c ON n.comment_id = c.id
        LEFT JOIN comment_reply cr ON n.comment_reply_id = cr.id
        LEFT JOIN sys_user su1 ON n.from_user_id = su1.user_id
        LEFT JOIN sys_user su2 ON nu.to_user_id = su2.user_id
        <trim prefix="where" prefixOverrides="and">
            <if test="notificationId != null and notificationId != ''">and n.notification_id = #{notificationId}
            </if>
        </trim>
    </select>

    <select id="selectTotalNum" resultType="java.lang.Long">
        select COUNT(*)
        FROM notification_user nu
        LEFT JOIN notification n ON nu.notification_id = n.notification_id
        LEFT JOIN articles a ON n.article_id = a.id
        LEFT JOIN comment c ON n.comment_id = c.id
        LEFT JOIN comment_reply cr ON n.comment_reply_id = cr.id
        LEFT JOIN sys_user su1 ON n.from_user_id = su1.user_id
        LEFT JOIN sys_user su2 ON nu.to_user_id = su2.user_id
        <trim prefix="where" prefixOverrides="and">
            <if test="notificationPage.toUserId != null and notificationPage.toUserId != ''">and nu.to_user_id =
                #{notificationPage.toUserId}
            </if>
            <if test="notificationPage.fromUserId != null and notificationPage.fromUserId != ''">and n.from_user_id =
                #{notificationPage.fromUserId}
            </if>
            <if test="notificationPage.notificationType != null and notificationPage.notificationType != ''">and n.notification_type = #{notificationPage.notificationType}</if>
        </trim>
    </select>

</mapper>